@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
    
body {
    
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
}

p {
    font-size: 18px;
    line-height: 26px;
}

header {
    background: gray;
    min-height: 300px;
    display: flex;
    margin-top: 50px;
    
}

header h1 {
    margin: auto 100px;
}

header .nom {
    text-transform: uppercase;
    font-size: 30px;
}

nav {
    position: fixed;
    top: 0;
    right: 100px;
}

nav ul li{
    display: inline-block;
    margin: auto 20px;
}

main > section > * {
    margin: auto 100px;
}

main > section > section {
    display: flex;
    
    
}

main > section > .spotlight:nth-child(even)  {
    width: 60%;
    background-color: red;
}
main > section > .spotlight:nth-child(odd)  {
    width: 40%;
    background-color: yellow;
}

main > section > .blurb p{
    max-width: 800px;
}

.sptlight:after {
    content:"";
    background-color: black;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 1000;

}

